#about {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .box-sobre{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 3em;
  }


  .box-sobre-img{
    width: 50vw;
    overflow: hidden;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0em;
    max-width: 450px;
  }

  .img-sobre-s{
    width: 100%;
  }

  .box-biografia{
    overflow: hidden;
    width: 80vw;
    max-width: 850px;
  }

  .sub-nav-biografia{
    display: flex;
    margin: 1em -7px;
    width: 100%;
  }

  .sub-nav-biografia-item{
    padding: 0px;
  }


  .sub-nav-biografia-link{
    background: none;
    color: #9c0c0c;;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }

  #title-text-biografia{
    font-size: 2em;
    font-family: var(--font-destaque);
    font-weight: 800;
    margin-bottom: 0.3em;

  }

  #box-text-biografia{
    height: 300px;
    text-wrap: wrap;
    overflow: auto;
    scrollbar-width: 0px;
    scrollbar-width: none;

  }

  .text-paragraph{
    font-size: 14px;
    font-weight: 400;
    margin: 1em 0em;
    line-height: 1.2em;
    color: rgb(230, 221, 221);
  }

  .sub-title-paragraph{
    font-weight: bold;
  }

  .about-citacoes{
    font-style: italic;
    padding: 0em 0.2em;
    font-size: 1.1em;
  }

.box-about-saibamais{
  margin: 2em 0em 0em 0em;
}

  /*Aqui irei fazer minhas animações hover do about*/

  /*tela 630(w) X 932(h) */

@media (max-width: 760px) {
  

}



@media (max-width: 550px) {
  .box-sobre{
    margin-top: 0px;
  }
  .box-sobre-img{
    width: 60vw;
    overflow: hidden;
    height: 200px;
  }

  #box-text-biografia{
    height: 250px;
    margin-bottom: 0px;
  }
}


/* medias q ueriessssss*/
