#about {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: auto;
  }

  .about-box{
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }


  .about-box-img{
    width: 50vw;
    overflow: hidden;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
  }

  .about-img{
    width: 100%;
  }



  .box-biography{
    overflow: hidden;
    width: 80vw;
    max-width: 850px;
  }

  .sub-nav-biography{
    display: flex;
    margin: 1em -7px;
    width: 100%;
  }

  .sub-nav-item-biography{
    padding: 0px;
  }


  .sub-nav-link-biography{
    background: none;
    color: #750a0a;;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }

  #title-text-biography{
    font-size: 2em;
    font-family: var(--font-destaque);
    font-weight: 800;
    margin-bottom: 0.3em;

  }

  #box-text-biography{
    height: 300px;
    text-wrap: wrap;
    overflow: auto;
    scrollbar-width: 0px;
    scrollbar-width: none;

  }

  .text-paragraph{
    font-size: 14px;
    font-weight: 400;
    margin: 1em 0em;
    line-height: 1.2em;
    color: rgb(230, 221, 221);
  }

  .sub-title-paragraph{
    font-weight: bold;
  }

  .about-citacoes{
    font-style: italic;
    padding: 0em 0.2em;
    font-size: 1.1em;
  }

.box-about-saibamais{
  margin: 2em 0em 0em 0em;
}

  /*Aqui irei fazer minhas animações hover do about*/

.sub-nav-link-biography:hover{
  color: #FF0B0B;
}




@media(max-width: 320px){
  #box-text-biography{
    height: 140px;
    margin-bottom: 4em;
  }
  #title-text-biography{
    font-size: 1.5em;
  }

  .sub-title-paragraph{
    font-size: 0.8em;
  }
}

@media (max-width: 481px) {
  #about {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .about-box{
    flex-grow: 1;
    left: 20px;
    
  }
  .about-box-img{
    width: 60vw;
    overflow: hidden;
    height: 200px;
  }

  #box-text-biography{
    height: 250px;
    margin-bottom: 0px;
  }
}


