#contato{
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    margin: auto;
}

.contato-title{
    font-size: 4em;
    margin: 1em;
}

#contato-form{
    border-radius: 5px;
    width: 80%;
    height: 50vh;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#contato-list{
    width: 100%;
    display: flex;
    justify-content: center;
}

.contato-item{
    margin: 0em 1em;
}

.box-contato-entry{
    flex-grow: 1;
    width: 100%;
    
}

.box-input-contato{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px 10px 1px 1px;
    overflow: hidden;
    
}

.contato-entry-email{
    flex-grow: 1;
    padding: 0.5em;
    font-size: 1.5em;
    font-weight: 800;
    background-color: rgb(158, 37, 37);
    color: white;
    border: none;
    text-align: center;
    outline: none;
}

.contato-entry-email::placeholder{
    color: white;
}

.contato-canvas{
    width: 100%;
    background-color: rgba(61, 30, 186, 0.063);
    height: 100%;
    margin-top: 10px;
    border-radius: 1px 1px 10px 10px;
}

.contato-canvas-menu{
    max-width: 100%;
    display: flex;
    text-align: center;
    padding: 1em;
    
}

.area-escrita-contato{
    display: flex;
    align-items: center;
    width: 100%;
    height: 65%;
}

#text-area-canvas{
    max-width: 95%;
    width: 300px;
    font-size: 2em;
    resize: none;
    overflow: hidden;
    background: none;
    border: none;
    outline: none;
    color: white;
    flex-grow: 1;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    flex-grow: 1;
    height: 100%;
  
}
.canva-list{
    height: 100%;
   
}
.linhas-canva-num{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    margin: 0.2em 0.5em;
    width: 30px;
}
.num-canva{
    font-size: 1.3em;
    opacity: 0.7;
   
}

.contato-assunto{
    width: 20%;
    text-align: center;
    font-size: 2em;
    background-color: rgb(158, 37, 37);
    border: none;
    color: white;
    outline: none;
    border: none;
}

.contato-assunto:focus{
    outline: none;
}

.contato-button-env{
    padding: 0.5em 2em;
    font-size: 1em;
    border-radius: 10px;
    background-color: rgb(158, 37, 37);
    color: white;
    cursor: pointer;
    font-weight: 800;
    border: none;
}
.contato-button-env:hover{
    padding: 0.5em 2em;
    font-size: 1em;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(158, 37, 37);
    cursor: pointer;
}

.contato-button-env:active{
    padding: 0.5em 2em;
    font-size: 1em;
    border-radius: 10px;
    background-color: rgb(158, 37, 37);
    color: white;
    cursor: pointer;
    font-weight: 800;
}

.contato-links{
    box-sizing: border-box;
    display: block;
    width: 80px;
    border-radius: 360px;
    border: none;
    overflow: hidden;
}
.contato-link-img{
    width: 100%;
}




  /*Mobile Responsividade*/

  
  @media (max-width: 760px) {
}



@media (max-width: 550px) {

    #contato-list{
        width: 80%;

        justify-content: space-around;
    }

    .contato-item{
    
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
        width: 20%;
    }
    .contato-link-img{
        position: static;
    }
    #contato-form{
        width: 90%;
    }

    .contato-entry-email{
        font-size: 1em;
    }
    
    .contato-assunto{
        font-size: 1em;
        width: 25%;
    }
    .email-parag{
        font-size: 0.8em;
        margin: 0.7em;
        text-align: center;
    }

    .contato-title{
        margin: 0px;
    }

    .num-canva,#text-area-canvas{
        font-size: 1em;

    }
}