#hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  
}

.img-title-hero {
  width: 200px;
}

.img-title-one {
  display: flex;
  flex-direction: column;
  color: white;
}

.sub-title-one {
  font-size: 22px;
  color: #9c0c0c;
}

.title-one {
  font-size: 2em;
}

.sub-title-two {
  text-align: end;
  font-size: 22px;
  color: #9c0c0c;
}

.hero-box-buttons {
  display: flex;
  margin: 0em 0em 0em 0em;
}

.hero-buttons {
  font-size: 3em;
  margin: 0em 0.2em;
  border: 1px solid #f21313;
  background: none;
  color: white;
  padding: 0em 1em;
  border-radius: 5px;
  cursor: pointer;
}

.hero-buttons:hover {
  background-color: #f21313;
  box-shadow: 0px 2px 10px 4px #9c0c0c;
}

.link-hero-saibamais {
  color: white;
}
.box-saibamais {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 0px;
}
.img-saibamais {
  width: 1.5em;
}

.link-saiba-mais{
  color: white;
  text-decoration: none;
  margin-bottom: 0.3em;
}

/*tela 630(w) X 932(h) */

@media (max-width: 760px) {
  .title-one {
    font-size: 7em;
  }
}




/* medias q ueriessssss*/

/* Celular pequeno 320x480*/

@media(min-width: 320px){


  .hero-box-buttons{
    max-width: 100%;
  }

  .hero-buttons{
    font-size: 1.4em;
    padding: 10px 1.2em ;
    margin-bottom: 2em;
  }
  .img-title-hero {
    width: 140px;
    margin: 1em auto;
  }
  .title-one{
      font-size: 4em;
  }
  .hero-box-buttons{
      width: 100%;
      justify-content: space-evenly;
      margin-bottom: 1em;
  }
  .hero-buttons{
      font-size: 1.2em;
  }
 
}


/* Celular medio 481px – 768px */
@media (min-width: 481px){
  
  #hero{
    width: 100%;
    flex-grow: 1;
    max-height: 98vh;
    display: flex;
    justify-content: space-around;
  }

  .img-title-hero {
    width: 200px;
    margin: auto;
  }

  .title-one {
    font-size: 4em;
  }


  .img-saibamais {
    width: 1.5em;
  }

  .sub-title-one {
    font-size: 16px;
    color: #9c0c0c;
  }

  .sub-title-two {
    text-align: end;
    font-size: 16px;
    color: #9c0c0c;
  }

  .buttons-hero {
    font-size: 2em;
    border: 1px solid #f21313;
    background: none;
    color: white;
    padding: 0em 0.3em;
    border-radius: 5px;
    cursor: pointer;
  }
  /*divisão*/
  
  .hero-buttons{
    font-size: 2.2em;
    padding: 0.2em 1em;
    margin-bottom: 1em;
  }
  .title-one{
    font-size: 5em;
  }
  .img-title-hero{
    width: 15em;
  }
}

/* Tablets (MD): 769px – 1024px*/
@media (min-width:769px){
  .title-one{
      font-size: 9rem;
  }
  .sub-title-one,.sub-title-two{
      font-size: 1.5rem;
  }
  .hero-buttons{
      font-size: 3.3rem;
  }
  .link-saiba-mais{
      font-size: 1.2rem;
  }
  .img-title-hero {
      width: 20rem;
      margin: auto;
    }
}

/* Laptops pequenos (LG): 1025px – 1280px */
@media (min-width:1025px){
.title-one{
  font-size: 7rem;
}
.sub-title-one,.sub-title-two{
  font-size: 1rem;
}
.img-title-hero{
  width: 15rem;
  margin-top: 5em;
}
.hero-buttons{
  font-size: 2.5em;
  margin: 0em 1.5em;
 
}
.link-saiba-mais{
  font-size: 1em;
}
.hero-box-buttons{
  justify-content: center;
}
}

/* Desktops comuns (XL): 1281px – 1440px */

@media (min-width:1281px){
.title-one{
  font-size: 7rem;
}
.sub-title-one,.sub-title-two{
  font-size: 1rem;
}
.img-title-hero{
  width: 15rem;
  margin-top: 5em;
}
.hero-buttons{
  font-size: 2.5em;
  margin: 0em 1.5em;
 
}
.link-saiba-mais{
  font-size: 1em;
}
.hero-box-buttons{
  justify-content: center;
}
}

