#projects {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 2em; 
    padding: 1em;
  }


.swiper{
  width: 100%; /* Em vez de ocupar 100vw, usa 90% do container pai */
  max-width: 600px; /* Impede que o Swiper fique grande demais em telas grandes */
  height: 400px;
}

  .project{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
  }

  .principal{
    display: flex;
    width: 80%;
    height: 100%;
    
  }

  .principal-img-window{
    height: 100%;
    width: 100%;
  }
  
  .sub-imgs{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    justify-content: space-between;
    margin: 5px;
  }

  .sub-imgs-window{
    max-height: 100px;
  }

  #project-title{
    color: white;
    font-size: 2em;
    margin-top: 50px;
  }

  .project-box-technology{
    width: 25vw;
    height: 50px;
    display: flex;
    margin: 10px;
  }

  .swiper-button-prev{
    display: none;
  }



  .icon-technology{
    width: 80%;
    opacity: 0.5;
  }

  .tecnologia-titulo{
    color: white;
    font-size: 0.5em;
    text-align: center;
    margin-top: 1em;
  }

  .technology-item{
    flex-grow: 1;
    max-width: 50px;
    margin: 0em 12px;
  }


  /* hover */

  .icon-technology:hover{
    opacity: 1;
  }

  .saibamais-projects,.img-saibamais-projec{
    font-size: 16px;
  }

  #img-project-1:hover{
    cursor: pointer;
  }
  #img-project-s1:hover{
    cursor: pointer;
  }
  #img-project-t1:hover{
    cursor: pointer;
  }

  .icon-technology:hover{
    cursor: pointer;
  }



  /*Mobile Responsividade*/


/* medias q ueriessssss*/


@media(min-width:320px){

  #projects{
    padding: 2em .5em;
    overflow: hidden;
    position: relative;
  }
  
  #project-title{
    font-size: 1.5em;
  }

  .project-mais{
    font-size: 0.5em;
    margin-top: 1em;
  }

  .project-box-technology{
    width: 90%;
    padding: 0;
  }

 

  .sub-imgs-window{
    flex-grow: 1;
    margin: 1px;
    max-height: 200px;
  }
  .technology-item{
    flex-grow: 1;
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    
  .icon-technology{
    width: 100%;
  }
  #project-title{
    margin-top: 0.5em;
  }

}
