#projects {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .swiper {
    width: 90vw;
    height: 400px; /* Ou o tamanho desejado */
  }

  .swiper-slide {
    display: flex;
    font-size: 24px;
   /* Apenas para visualização */
    cursor: pointer;
    width: 100%;

  }

  .project{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
  }

  .principal{
    display: flex;
    width: 80%;
    height: 100%;
    
  }

  .principal-img-window{
    height: 100%;
    width: 100%;
  }
  
  .sub-imgs{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    justify-content: space-between;
  }

  .sub-imgs-window{
    flex-grow: 1;
    max-height: 24%;
    margin: 0px 3% 0px ;

  }



  